<ion-header>
    <ion-navbar>
      <ion-title>
        Task Details
      </ion-title>
        <button start ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
  
  
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <h2>Details</h2>
    <ion-item color='secondary' >
        <ion-avatar item-start>
            <img [src]="entryDataService.getEntryByID(task.pet_id).image" />
        </ion-avatar>
        <ion-select item-start [(ngModel)]="task.pet_id" [disabled] = 'edit_check'>
          <ion-option *ngFor='let pet of petlist' [value]= pet.id>
            {{pet.title}}
          </ion-option>
        </ion-select>
      </ion-item>




  <ion-list no-lines>
    <ion-item >
      <ion-label>Task Title:</ion-label>
      <ion-input type="text" placeholder="New Entry" [(ngModel)]="task.title"></ion-input>
    </ion-item>


    
    <ion-item ><ion-label>Task Notes: </ion-label></ion-item>
    <ion-item><ion-textarea placeholder="" [(ngModel)]="task.notes"></ion-textarea></ion-item>

    

  </ion-list>

  <h2>Rules</h2>
  <ion-list>
    
    
    <ion-item>
      <ion-label>Task Schedule</ion-label>
        <ion-select value= "Daily" [(ngModel)]="task.schedule"><ion-icon small item-end name="arrow-dropdown"></ion-icon>
          <ion-option>Daily</ion-option>
          <!-- <ion-option>Every Other Day</ion-option> -->
          <ion-option>Weekly</ion-option>
          <!-- <ion-option>Bi-Weekly</ion-option> -->
          <ion-option>Monthly</ion-option>
          <!-- <ion-option>Yearly</ion-option> -->
        </ion-select>
    </ion-item>

    <ion-item *ngIf=" task.schedule == 'Weekly'" >
    <ion-label>Day of Week</ion-label>      
    <ion-multi-picker id="default" [(ngModel)] = "task.dayOfWeek" item-content [multiPickerColumns]="daysOfWeek"></ion-multi-picker>
      </ion-item>

    <ion-item *ngIf=" task.schedule == 'Monthly'">
        <ion-label>Day of Month</ion-label>      
        <ion-datetime displayFormat="D" [(ngModel)]="task.dayOfMonth"></ion-datetime>  
      </ion-item>
    
    
    
    
    
    
    
    
    
    <ion-item>
      <ion-label>Task Deadline</ion-label>
      <ion-datetime pickerFormat= 'h:mm a' [(ngModel)]="task.deadline"></ion-datetime>
      <ion-icon small item-end name="arrow-dropdown"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-item>
        <button ion-button (click)="saveEntry()">Save</button>
        <button ion-button color='danger' (click)="cancelEntry()">Cancel </button>
      </ion-item>
  
      <ion-item [ngClass]= 'hidden(task.id)' no-lines>
        <button item-end color='danger' ion-button outline icon-end (click)="ConfirmDelete(task.id)">Delete
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
  
    </ion-list>

</ion-content>
