<ion-header>
  <ion-navbar>
      <div class="bar">
          <button start ion-button icon-only menuToggle>
            <ion-icon name='menu'></ion-icon>
          </button>
        </div>
    
    
    <figure class='logo'>
    <img src="../../assets/icon/dawg-icon.png" alt="Logo">
    </figure>  
    
     
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Household</h1>
  
  <h2>Pets</h2>

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-33 *ngFor="let entry of entries">
        <div class= 'card card-1'>
          <img [src]= 'entry.image' alt="Person">
          <p>{{entry.title}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

 

  <ion-card *ngFor="let entry of entries">

  <ion-card-content>

      <ion-item>
      <ion-avatar item-start>
          <img [src]="entry.image" />
      </ion-avatar>
      <h2><strong>{{entry.title}}</strong></h2>
      <p>{{entry.timestamp | date:'short'}}</p>
    </ion-item>
      
   


    
    <ion-buttons item-end style= 'float: right;'>
      
    <button small color='primary' ion-button outline (click)="editEntry(entry.id)">Edit</button>
  </ion-buttons>
  </ion-card-content>

  </ion-card>

 


</ion-content>
<ion-footer>
  <ion-fab right bottom>
    <button ion-fab color='primary' (click)="addEntry()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-footer>