<ion-header>
    <ion-navbar>
      <ion-title>
       Task Overview
      </ion-title>
        <button start ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
   

  
<ng-container *ngIf = 'entry.id == -1; else pet' >


      <p>Today is {{this.shownDay}}!</p>

        <h2>Today's Tasks</h2>
        <button ion-button (click) ="showTodayTasks()" small>Show</button>
        <button ion-button (click) ="hideTodayTasks()" small>Hide</button>

      <h2>All Tasks</h2>
      <button ion-button (click) ="showAllTasks()" small >Show</button>
      <button ion-button (click) ="hideAllTasks()" small>Hide</button>



      <div *ngIf= "this.todaytasks == false" >
        <ng-container *ngFor="let task of entryDataService.tasks">
        <ion-card *ngIf= 'task.dayNum == this.numWeek || task.dayNum == this.numMonth || task.dayNum == 32'>
      
      
        <ion-list>
         <ion-item detail-push color= 'secondary' (click)="editTask(task.id, task.pet_id)">
          <ion-avatar item-start>
              <img [src]="entryDataService.getEntryByID(task.pet_id).image" />
          </ion-avatar>
          <h2><strong>{{task.title}}</strong></h2>
          
            </ion-item>
        
        
    
                <ion-item>
                <ion-icon color= 'primary' name = 'list-box'></ion-icon> Notes: {{task.notes}}
                </ion-item>
                <ion-item>
                
                <ion-label><ion-icon color= 'primary' name= 'timer'></ion-icon> Due: {{task.deadline}}</ion-label>
                  <ion-input placeholder= "Completed?" disabled=true [value] = "task.completed_date | date:'short'"></ion-input>
                  <ion-checkbox item-end checked="false" [(ngModel)]= task.complete (ionChange)=toggleComplete(task.id)></ion-checkbox>
                </ion-item>
              
            </ion-list>
                
               
          </ion-card>
        </ng-container>
    </div>



<!-- ****** DAILY, WEEKLY, MONTHLY TASKS  ******     -->
    
        <div *ngIf= "this.alltasks == false" >
        <ng-container *ngFor= 'let schedule of ["Daily", "Weekly", "Monthly"]'>
        <h3 *ngIf= 'entryDataService.verifyScheduleExists(schedule, entryDataService.entries)'>All {{schedule}} Tasks</h3>
        <ng-container *ngFor="let task of entryDataService.tasks">
        <ion-card *ngIf= 'task.schedule == schedule'>
      
      
        <ion-list>
         <ion-item detail-push color= 'secondary' (click)="editTask(task.id, task.pet_id)">
          <ion-avatar item-start>
              <img [src]="entryDataService.getEntryByID(task.pet_id).image" />
          </ion-avatar>
          <h2><strong>{{task.title}}</strong></h2>
          <!-- <button ion-button item-end icon-start (click)="editTask(task.id, task.pet_id)">
            <ion-icon name="create"></ion-icon>Edit
            </button> -->
          
            </ion-item>
        
        
    
                <ion-item>
                <ion-icon color= 'primary' name = 'list-box'></ion-icon> Notes: {{task.notes}}
                </ion-item>
                <ion-item>
                
                <ion-label><ion-icon color= 'primary' name= 'timer'></ion-icon> Due: {{task.deadline}}</ion-label>
                  <ion-input placeholder= "Completed?" disabled=true [value] = "task.completed_date | date:'short'"></ion-input>
                  <ion-checkbox item-end checked="false" [(ngModel)]= task.complete (ionChange)=toggleComplete(task.id)></ion-checkbox>
                </ion-item>
              
            </ion-list>
                
               
          </ion-card>
        </ng-container>
    </ng-container>
</div>
</ng-container>



<ng-template #pet>
<h1>Tasks for {{entry.title}}</h1>

<!-- ****** DAILY, WEEKLY, MONTHLY TASKS  ******     -->
    
    <ng-container *ngFor= 'let schedule of ["Daily", "Weekly", "Monthly"]'>
    <h2 *ngIf= 'entryDataService.verifyScheduleExists(schedule, [entry])'>{{schedule}}</h2>
    <ng-container *ngFor="let task of entryDataService.tasks">
    <ion-card *ngIf= 'task.schedule == schedule && task.pet_id == entry.id'>
  
  
    <ion-list>
     <ion-item detail-push color= 'secondary' (click)="editTask(task.id, task.pet_id)">
      <ion-avatar item-start>
          <img [src]="entryDataService.getEntryByID(task.pet_id).image" />
      </ion-avatar>
      <h2><strong>{{task.title}}</strong></h2>

      
        </ion-item>
    
    

            <ion-item><ion-icon color= 'primary' name = 'list-box'></ion-icon> Notes: {{task.notes}}</ion-item>
            


            <ion-item>
            <ion-label><ion-icon color= 'primary' name= 'timer'></ion-icon> Due: {{task.deadline}}</ion-label>
              <ion-input placeholder= "Completed?" disabled=true [value] = "task.completed_date | date:'short'"></ion-input>
              <ion-checkbox item-end checked="false" [(ngModel)]= task.complete (ionChange)=toggleComplete(task.id)></ion-checkbox>
            </ion-item>
          
        </ion-list>
            
           
      </ion-card>
    </ng-container>
</ng-container>
</ng-template>



</ion-content>

<ion-footer>
<ion-fab right bottom>
<button ion-fab color='primary' (click)="addEntry()"><ion-icon name="add"></ion-icon></button>
</ion-fab>
</ion-footer>