<ion-header>
    <ion-navbar>
      <ion-title>
       Task Overview
      </ion-title>
        <button start ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
   

  

<h1>All Tasks</h1>


<!-- ****** DAILY, WEEKLY, MONTHLY TASKS  ******     -->
    
    <ng-container *ngFor= 'let schedule of ["Daily", "Weekly", "Monthly"]'>
    <h2 *ngIf= 'entryDataService.verifyScheduleExists(schedule)'>{{schedule}}</h2>
    <ng-container *ngFor="let task of entryDataService.tasks">
    <ion-card *ngIf= 'task.schedule == schedule'>
  
  
  
     <ion-item color= 'secondary'>
      <ion-avatar item-start>
          <img [src]="entryDataService.getEntryByID(task.pet_id).image" />
      </ion-avatar>
      <h2><strong>{{entryDataService.getEntryByID(task.pet_id).title}}</strong></h2>
      <button ion-button item-end icon-start (click)="editTask(task.id, task.pet_id)">
        <ion-icon name="create"></ion-icon>Edit
        </button>
      
        </ion-item>
    
    

        <ion-list>
          <ion-item>Task: {{task.title}}</ion-item>
          <!-- <ion-item>Schedule: {{task.schedule}}</ion-item> -->
          <ion-item>
            <ion-checkbox checked="false" [(ngModel)]= task.complete (ionChange)=toggleComplete(task.id)></ion-checkbox>
            
            <ion-label>Due:  {{task.deadline}}</ion-label>
              <ion-input placeholder= "Completed?" disabled=true [value] = "task.completed_date | date:'short'"></ion-input>
            </ion-item>
          
        </ion-list>
            
           
      </ion-card>
    </ng-container>
</ng-container>



</ion-content>

<ion-footer>
    <ion-item>
        <button ion-button full (click)="addEntry(entry.id)">Add Task</button>
      </ion-item>
</ion-footer>